<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Welcome to Stranger quotes!</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      text-align: center;
    }

    .fact-container {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <!-- Display welcome message -->
  <div class="fact-container">  
    <h1>Welcome to stranger quotes</h1>
    <a href="/quotes">some strange quotes</a>
  </div>
</body>
</html>